### Original requirements from gao-g repo
# Progress bar for data preprocessing
tqdm

# Efficient numerical operations
numpy

# Load ELMo vectors
h5py

# Use some tools for batching in util.py
# removing specific version requirement
allennlp

# Plotting performance
matplotlib

### Adding new requirements:
jupyter
tabulate
pandas
google-cloud-storage